.sidebar {
  display: none;
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 200px;
  z-index: 1000;
  padding-top: 5px;
  background-color: white;
  align-items: start;
}

.sidebar-link {
  height: 74px;
  display: none;
  justify-content: start;
  align-items: center;
  column-gap: 30px;
  flex-direction: row;
  cursor: pointer;
  font-size: 50px;
}


.sidebar-icons {
  padding-left: 25px;
}

.sidebar-link .sidebar-text {
 font-size: 15px;
}


.sidebar.show {
  display: block;
  background-color: lightblue;
  .sidebar-link {
    display: flex;
  }
}


.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 10px;
}

.top-sidebar {
  display: flex;
  align-items: center;
  width: 150px;
  height: 55px;
}