.main-grid {
  display: grid;
  grid-template-columns: 910px 500px;
  column-gap: 30px;
}


.video-preview,
.comments {
  width: 900px;
}

.video-preview-image-container {
  width: 100%;
  border-radius: 10px;
}

.video-name {
  font-size: 21px;
  margin-top: 10px;
  font-weight: 500;
}

.thumbnail-picture {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  justify-content: center;
}

.video-stats-grid {
  display: grid;
  grid-template-columns: 1fr 70px 1fr;
  margin-top: 20px;
}

.video-author-stats-flexbox {
  display: flex;
}

.channel-picture {
  border-radius: 50%;
  width: 50px;
  justify-content: center;
}

.author-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.author-name {
  display: block;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  margin-right: 40px;
}

.name {
  font-size: 18px;
  font-weight: bold
}

.stats {
  color: grey;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: solid;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.like-dislike-buttons {
  display: flex;
}

.like-button {
  width: 120px;
  height: 40px;
  position: relative;
  border-radius: 15px 0px 0px 15px;
  border-width: 0 0 0 0 ;
  background-color: rgb(250, 247, 247);
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.like-button:hover,
.dislike-button:hover,
.more-button:hover,
.share-button:hover,
.description:hover,
.like-button-comment:hover,
.dislike-button-comment:hover,
.replay:hover  {
  background-color: rgb(221, 220, 220);
}

.subscribe-button:hover {
  background-color: rgb(53, 53, 53);
}

.dislike-button {
  width: 40px;
  height: 40px;
  background-color: white;
  position: relative;
  border: none;
  border-radius: 0 15px 15px 0;
  background-color: rgb(250, 247, 247);
  margin-left: -5px;
  cursor: pointer;
  justify-content: end;
  align-items: center;
  
}

.like-icon,
.dislike-icon,
.share,
.three-dots {
  width: 25px;
}

.dislike-icon {
  position: absolute;
  top: 7px;
  left: 4px;
}

.like-icon {
  position: absolute;
  top: 5px;
  left: 10px;
}

.share-button {
  width: 120px;
  height: 40px;
  background-color: white;
  position: relative;
  border: none;
  background-color: rgb(250, 247, 247);
  margin-left: -5px;
  cursor: pointer;
  border-radius: 15px;
}

.share {
  position: absolute;
  left: 4px;
  top: 5px;
}

.share-text {
  display: inline;
  margin-left: 60px;
}

.like-stats,
.share-text {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.like-stats {
  padding-left: 14px;
}

.more-button {
  width: 40px;
  height: 40px;
  background-color: white;
  position: relative;
  border: none;
  background-color: rgb(250, 247, 247);
  margin-left: -5px;
  cursor: pointer;
  border-radius: 50%;
}

.description {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: none;
  border-radius: 20px;
  background-color: rgb(250, 247, 247);
  width: 100%;
  margin-right: 30px;
  margin-top: 10px;
  padding: 10px 15px;
  white-space: nowrap;
  overflow: hidden;
}

.description p {
  font-size: 17px;
  line-height: 30px;
}

.sort-by:hover {
  cursor: pointer;
}

.comments-container,
.sort-by{
  display: flex;
  column-gap: 15px;
  justify-content: start;
  align-items: center;
}

.comments-container {
  margin-top: 20px;
}


.sort-by-icon {
  width: 30px;
}

.comments-content {
  display: flex;
  margin-bottom: 20px;
}

.comments-user {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.comment-input {
  width:  100%;
  border-width: 0 0 2px 0;
  font-size: 15px;
  margin-left: 15px;
  padding-bottom: 7px;
}

.comment-infromation {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 8px;
  margin-left: 20px;
}
.reaction-icon {
  width: 20px;
  padding: 2px 1px;
}

.comment-user-name {
  font-weight: 500;
}

.comment-user-name span {
  color: grey;
  font-weight: 400;
}

.reaction-comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.like-button-comment,
.dislike-button-comment {
  background-color: white;
  border: none;
  border-radius: 50%;
}

.like-button-comment {
  margin-left: -5px;
}

.dislike-button-comment {
  margin-left: 5px;
}

.replay {
  background-color: white;
  border: none;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 20px;
}

